<section>

  <form>
    <div class="form-field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="field">
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="field">
    </div>
    <div class="form-field">
      <label for="age">Age</label>
      <input type="text" name="age" id="age" class="field">
    </div>
    <div class="form-field">
      <label for="sport">Favorite Sport</label>
      <input type="text" name="sport" id="sport" class="field">
    </div>
    <div class="form-field">
      <label for="animal">Favorite Animal</label>
      <input type="text" name="animal" id="animal" class="field">
    </div>
    <div class="form-field">
      <label for="career">Career</label>
      <input type="text" name="career" id="career" class="field">
    </div>
  </form>

  <div class="multi-dropdown">
    <a href="javascript:void(0)" id="bar-link">
      <div class="first-bar" id="bar">
        <p>First one</p>
        <div class="field-one" id="code-field"></div>
      </div>
    </a>
    <a href="javascript:void(0)" id="bar-link">
      <div  class="second-bar" id="bar">
        <p>Second one</p>
        <div class="field-two" id="code-field"></div>
      </div>
    </a>
    <a href="javascript:void(0)" id="bar-link">
      <div class="third-bar" id="bar">
        <p>Third one</p>
        <div class="field-three" id="code-field"></div>
      </div>
    </a>
  </div>
</section>
