<section>

  <div><div></div></div>

  <form>
    <div class="form-field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="field">
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="field">
    </div>
    <div class="form-field">
      <label for="age">Age</label>
      <input type="text" name="age" id="age" class="field">
    </div>
    <div class="form-field">
      <label for="sport">Favorite Sport</label>
      <input type="text" name="sport" id="sport" class="field">
    </div>
    <div class="form-field">
      <label for="animal">Favorite Animal</label>
      <input type="text" name="animal" id="animal" class="field">
    </div>
    <div class="form-field">
      <label for="career">Career</label>
      <input type="text" name="career" id="career" class="field">
    </div>
  </form>

  <div class="multi-dropdown">
    <div class="closed" id="bar">
      <div class="bar-link"><h3>View HTML For Infield Label</h3></div>
      <%= link_to(new_feature_code_path, :remote => true) do %>
        <%=  image_tag("edit-icon.png") %>
      <% end %>
      <div id="code-field">

      </div>
    </div>
    <div  class="closed" id="bar">
     <div class="bar-link"><h3>View CSS For Infield Label</h3></div>
     <div id="code-field"></div>
    </div>
    <div class="closed" id="bar">
      <div class="bar-link"><h3>View Javascript for Infield Label</h3></div>
      <div id="code-field"></div>
    </div>
  </div>
</section>
