/* sliders */

section {
  padding-top: 20px;
  padding-left: 150px;
}

.slider {
  position: relative;
  width: 700px;
  height: 400px;
  overflow: hidden;
  float: left;
}

ul.slides {
  position: absolute;
}

.slides li {
  position: absolute;
  float: left;
  width: 700px;
  top: -16px;
  background:#383838;
}

img.slide {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.overlay, .overlay-text {
  bottom: 60px;
  height: 60px;
}

.overlay {
  position: relative;
  background: black;
  opacity: 0.6;
}

.overlay-text {
  padding-top:1em;
  padding-left:0.8em;
  margin: 0;
  color: white;
}

div.enter-area, div#arrow {
  width: 60px;
}

div.enter-area {
  top: 153px;
  z-index: 1000;
  position: absolute;
  height: 400px;
}

div#arrow {
  background-color: black;
  opacity: 0.6;
  z-index: 1001;
  position: relative;
  margin-top: 170px;
  height: 60px;
}

div.left-arrow {
  border-radius: 0 100% 100% 0;
}

div.right-arrow {
  border-radius: 100% 0 0 100%;
}

div#areaRight {
  left: 798px;
}

.arrow-button {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: gray;
  border-radius: 100%;
  margin-left: 6px;
  top: 4px
}

#css-arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  margin-top: 10px;
}

.arrow-left {
  border-right: 15px solid black;
  margin-left: 15px;
}

.arrow-right {
  border-left: 15px solid black;
  margin-left: 20px;
}

ul.goToNum {
  clear: both;
  padding: 20px 0 0 0;
}

.goToNum a {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid black;
}

div.buttons {
  clear: both;
}

button {
  cursor: pointer;
  height: 30px;
}

/* infield-labels*/

input {
  height: 30px;
  width: 200px;
  display: block;
  padding-left: 10px;
}

div.form-field {
  position:relative;
  margin-bottom: 20px;
}

.form-field label {
  position: absolute;
  display: block;
  top: 6px;
  left: 10px;
  font-size: 20px;
  color: #777;
  cursor: text;
}


/*accordion */
form, .multi-dropdown {
  float: left;
}

.multi-dropdown {
  margin-left: 50px;

}

a.edit-code {
  position:absolute;
  margin-top:-30px;
  margin-left:450px;
}

a.edit-code:hover {
  opacity:0.5;
}

.bar-link {
  width: 620px;
  height: 40px;
  background-image:url('title-bar.jpg');
  position: relative;
  cursor:pointer;
  margin-bottom:1px;
}

.bar-link h3 {
  margin:0;
  text-align:center;
  padding-top:10px;
  color:#c0c0c0;
}

#code-field {
  width: 618px;
  height: 397px;
  border-right: 1px solid #383838;
  border-bottom:1px solid #383838;
  border-left:1px solid #383838;
  position: absolute;
  display: none;
  overflow-y:scroll;
  overflow-x:hidden;
}

#code-field p{
  margin:0;
  margin-bottom:5px;
}
